/* *{
  border: 1px solid gold
} */

.container, .bottom-container{
  display: flex;
}
.top-container{
  width: 100vw;
  height: 20vh;
}
.bottom-container{
  width: 100vw;
  height: 80vh;
  justify-content: center;
}
#LHS, #RHS{
  width: 50vmax;
  padding: 1vmax;
  justify-content: center;
  align-items: center;
}
#map{
  height: 90%;
  padding: 1vmax
}
